<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}} <!-- header partial -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ex, aut nisi quo architecto quia ratione nobis quas, inventore, vel expedita eveniet debitis eum ad cumque incidunt et autem distinctio.</p>

		{{> footer}} <!-- footer partial -->
	</body>
</html>